/teste/hugo/videoEvaluation/nbproject/private/
/teste/hugo/videoEvaluation/build/
/teste/hugo/videoEvaSpring/nbproject/private/
/teste/hugo/viEvaSpring/nbproject/private/
/teste/hugo/viEvaSpring/build/